* {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
}
html , body {
    height: 100%;
    width: 100%;
}
body {
    background-color: black;
    display: flex;
}
#string{
    height: 200px;
    width: 100%;
}
